/*---------------------
  Shop Cart
-----------------------*/
.products__cart {
	h4 {
		padding-bottom: 10px;
		border-bottom: 0.5px solid $para-color;
	}
}


.item__cart {
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 0.5px solid $para-color;

	.header__item {
		display: flex;

		img {
			height: 60px;
			width: 60px;
			padding-left: 20px;
			object-fit: cover;
		}

		span {
			text-align: center;
			margin: 0 auto;
			padding-top: 10px;
			font-weight: 600;
			text-transform: uppercase;
		}

	}

	.item__content {
		display: flex;
		justify-content: space-evenly;
		margin: 10px 0;
		padding: 10px 0 ;

		.item__quantity {
			input {
				margin-top: 4px;
				padding-left: 12px;
				width: 40px;
			}
		}

		div {
			display: flex;
			flex-direction: column;
			align-items: center;

			span:first-child {
				font-weight: 600;
			}

			span:last-child {
				margin-top: 8px;
				font-weight: 600;
			}
		}
	}

	.item__actions {
		display: flex;
		justify-content: space-evenly;
		
		button {
			width: 100px;
			height: 32px;	
			border: none;
			font-weight: 600;		
			background-color: $black_color;
			color: $white_color;

			&:active {
				background-color: $heading-color-2;
				transform: scale(1.02);
			}
		}
	}
}

.shoping__continue {
}

.shoping__discount {
	margin-top: 45px;

	h5 {
		font-size: 20px;
		color: $normal-color;
		font-weight: 700;
		margin-bottom: 25px;
	}

	form {
		input {
			width: 255px;
			height: 46px;
			border: 1px solid #cccccc;
			font-size: 16px;
			color: #b2b2b2;
			text-align: center;
			display: inline-block;
			margin-right: 15px;

			&::placeholder {
				color: #b2b2b2;
			}
		}

		button {
			padding: 15px 30px 11px;
			font-size: 12px;
			letter-spacing: 4px;
			background: $para-color;
		}
	}
}

.shoping__checkout {
	background: $background;
	padding: 30px;
	padding-top: 20px;
	margin-top: 50px;

	h5 {
		color: $normal-color;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 28px;
	}

	ul {
		margin-bottom: 28px;

		li {
			font-size: 16px;
			color: $normal-color;
			font-weight: 700;
			list-style: none;
			overflow: hidden;
			border-bottom: 1px solid $border;
			padding-bottom: 13px;
			margin-bottom: 18px;

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
				margin-bottom: 0;
			}

			span {
				font-size: 18px;
				color: #dd2222;
				float: right;
			}
		}
	}

	.primary-btn {
		display: block;
		text-align: center;
	}
}
