/*---------------------
  Shop Cart
-----------------------*/
.products__cart {
	h4 {
		padding-bottom: 10px;
		border-bottom: 0.5px solid $para-color;
	}
	
	.cart__empty {
		margin: 20px 0;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 0.5px solid $para-color;

		span {
			font-size: 20px;
			font-weight: 600;
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		button {
			margin-top: 15px;
			width: 140px;
			font-size: 18px;
			font-weight: 600;
		}
	}
}


.item__cart {
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 0.5px solid $para-color;

	.header__item {
		display: flex;

		img {
			height: 60px;
			width: 60px;
			padding-left: 20px;
			object-fit: cover;
		}

		span {
			text-align: center;
			margin: 0 auto;
			padding-top: 10px;
			font-weight: 600;
			text-transform: uppercase;
		}

	}

	.item__content {
		display: flex;
		justify-content: space-around;
		margin: 10px 0;
		padding: 10px 0;

		div {
			display: flex;
			flex-direction: column;
			text-align: center;

			span {
				margin-top: 8px;
				font-weight: 600;
			}
		}

		.item__quantity {
			margin-left: 8px;

			.quantity_actions {
				flex-direction: row;
				justify-content: space-between;
				width: 100px;

				button {
					color: $para_color;
					font-size: 22px;

					&:active {
						color: $black_color;
					}
				}
			}
		}
	}

	.item__actions {
		text-align: center;

		button {
			width: 140px;
			height: auto;	
			margin: 0 auto;
			font-weight: 600;			
		}
	}
}	

.shoping__checkout {
	background-color: $background;
	padding: 25px;
	padding-top: 10px;
	margin: 25px 10px;
	box-shadow: 0 3px 6px 0 rgba($color: #000000, $alpha: 0.4);

	h5 {
		font-weight: 600;
		font-size: 22px;
		margin-bottom: 28px;
	}

	div {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;

		span {
			font-size: 20px;
			font-weight: 600;
		}

		div {
			span {
				color: #dd2222;
			}
		}
	}

	a:last-child {
		button {
			font-weight: 600;
			background-color: $white-color;
			color: $normal-color;
			box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.4);

			&:active {
				background-color: $gray;
			}
		}
	}

	a {
		button {
			font-weight: 600;
		}
	}
}
