.dashboard {
  height: 100%;

  h3 {
    font-weight: 600;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    text-align: center;
  }

  .new-product {
    width: 100%;
    margin-top: 15px;
    text-align: center;

    a {
      box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.2);
      display: inline-block;
      text-decoration: none;
      background-color: $white-gray;
      color: $black-color;
      padding: 2px;
      width: 180px;
    }
  }

  .more-products {
    text-align: center;

    button {
      margin-top: 10px;
      width: 150px;
      height: 38px;
      text-transform: uppercase;
    }
  }
}

#list-products {
  margin: 15px auto 30px;

  .product__content {
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.2);
    height: 105px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 120px auto;

    .product__image {
      max-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 95px;
        object-fit: contain;
      }
    }

    .product__information {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 600;
        color: $black-color;
        font-size: 18px;
      }
    
      .price {
        color: $para-color;
        padding-left: 5px;
        font-size: 14px;
      }

      .information__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 6px 10px 6px 0;
        gap: 15px;

        button {
          height: 30px;
          border: none;
          box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.2);
          transition: all 0.6ms ease-in-out;

          &:active {
            transform: scale(1.04);
            opacity: 0.8;
          }
        }

        .actions__edit {
          background-color: rgba($color: $white-gray, $alpha: 0.8);
        }

        .actions__delete {
          color: #fff;
          background-color: rgba($color: $danger, $alpha: 0.9);
        }
      }
    }
  }
}