/*---------------------
  Produtos
-----------------------*/
.product {
	padding-bottom: 10px;
}

.product__title {
	text-align: left;
	margin-bottom: 45px;
	margin-left: 10px;

	h3 {
		display: inline-block;
		font-weight: 600;

		&:after {
			margin: 0;
			height: 4px;
			width: 100%;
		}
	}
}

.grid__products {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.product__item {
	margin-bottom: 35px;

	.product__quantity {
		display: flex;
		margin: 6px 0;
		padding: 2px 4px;
		border: 1px solid $black_color;
		justify-content: space-between;
		align-items: center;

		button {
			color: $para_color;
			font-size: 20px;

			&:active {
				color: $black_color;
			}
		}

		span {
			font-weight: bold;
			display: inline-block;
		}
	}
}

.product__item__pic {
	height: 150px;
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.product__item__text {
	text-align: center;
	padding-top: 15px;

	h6 {
		margin-bottom: 10px;

		a {
			color: $heading-color-2;
		}
	}

	h5 {
		color: $heading-color-2;
		font-weight: 700;
	}
}

.buttons {
	display: flex;
	width: 60%;
	margin-bottom: 20px;
	flex-direction: column;

	button {
		width: 100%;
		height: 38px;	
		border: none;
		font-weight: 600;
		font-size: 18px;
		background-color: $black_color;
		color: $white_color;

		&:active {
			background-color: $heading-color-2;
			transform: scale(1.02);
		}
	}

	.more__products {
		margin-top: 15px;
	}

	.more__products.hide {
		display: none;
	}
}
