/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header__menu ul li {
    margin-right: 45px;
  }
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .humberger__open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }

  .header {
    .container {
      position: relative;
    }
  }

  .humberger__menu__wrapper {
    width: 300px;
    background: $white-color;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    @include transition(all, 0.6s);

    &.show__humberger__menu__wrapper {
      opacity: 1;
      left: 0;
    }
  }

  .humberger__menu__logo {
    margin-bottom: 30px;

    a {
      display: inline-block;
    }
  }

  .humberger__menu__nav {
    margin-bottom: 15px;

    ul {
      list-style: none;

      li {
        padding: 5px 0;
        margin-top: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        a {
          color: $black-color;
          display: inline-block;
          width: 100%;

          &:active {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .humberger__menu__contact {
    padding: 10px 0 13px;

    ul {
      li {
        font-size: 14px;
        color: #1c1c1c;
        position: relative;
        line-height: 30px;
        list-style: none;

        i {
          color: $heading-color-2;
          margin-right: 5px;
        }
      }
    }
  }

  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    @include transition(all, 0.6s);

    &.active {
      visibility: visible;
    }
  }

  .header__menu {
    display: none;
  }

  .header__cart {
    text-align: center;
    padding: 10px 0 24px;
  }

  .over_hid {
    overflow: hidden;
  }
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
  .product {
    padding-top: $padding-top-header;
  }

  .shoping-cart {
    padding-top: $padding-top-header;
    overflow: hidden;
  }

  .humberger__open {
    display: block;
    font-size: 22px;
    color: #1c1c1c;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 22px;
  }

  .header {
    position: fixed;
    background-color: $white-color;
    z-index: 12;
    
    .container {
      position: relative;
    }
  }

  /* Exibe menu drop */
  .humberger__menu__wrapper {
    width: 300px;
    background: $white-color;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
    padding: 30px;
    padding-top: 50px;
    opacity: 0;
    display: block;
    @include transition(all, 0.6s);
    
    &.show__humberger__menu__wrapper {
      opacity: 1;
      left: 0;
    }
  }
  
  .humberger__menu__logo {
    margin-bottom: 30px;
    
    a {
      display: inline-block;
    }
  }

  .humberger__menu__nav {
    margin-bottom: 15px;

    ul {
      list-style: none;

      li {
        padding: 5px 0;
        margin-top: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        a {
          color: $black-color;
          display: inline-block;
          width: 100%;

          &:active {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .humberger__menu__contact {
    padding: 10px 0 13px;

    ul {
      li {
        font-size: 14px;
        color: #1c1c1c;
        position: relative;
        line-height: 30px;
        list-style: none;

        i {
          color: $heading-color-2;
          margin-right: 5px;
        }
      }
    }
  }

  .humberger__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: "";
    z-index: 98;
    visibility: hidden;
    @include transition(all, 0.6s);

    &.active {
      visibility: visible;
    }
  }

  .header__menu {
    display: none;
  }

  .header__cart {
    text-align: center;
    padding: 0 0 14px;
  }

  .over_hid {
    overflow: hidden;
  }

  .checkout__order {
    padding: 10px 5px 10px;
  }
}

/* Small Device = 320px */
@media only screen and (max-width: 479px) {  
  .shoping__checkout .primary-btn {
    display: block;
    text-align: center;
    padding: 10px 15px 10px;
  }  
}
