* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
}

button,
body {
  font-family: "Cairo", sans-serif;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

/* Reutilizaveis */
.container {
  max-width: 980px;
  margin: 0 auto;  
}

/* buttons */
.action-btn {
  font-size: 16px;
  color: $black-color;
  font-weight: 800;
  display: inline-block;
  background-color: $white-color;
  border: none;
}

.button__black {
  width: 100%;
  background-color: $black_color;
  border: none;
  font-weight: bold;
  color: $white_color;
  padding: 6px 0;

  &:active {
    background-color: $heading-color-2;
    transform: scale(1.02);
  }
}

