$primary-color: #7fad39;
$secondary-color: #120851;
$white-color: #fff;
$black-color: #000;
$gray-color: #6f6f6f;
$background-color: #ededed;
$normal-color: #1c1c1c;
$normal-color-2: #252525;
$blue-dark-color: #2f3640;
$blue-dark-color-2: #38414d;
$border-gray-color: #E2E5EA;
$border-gray-color-2: #e1e1e1;

/* apagar */
$blue-dark-light-color: #38414d;
$heading-color-2: #252525;
$para-color: #6f6f6f; /* trocar tirar quando possivel */

$warning-color: #f5e17e;
$sucess-color: #85cf7e;
$danger-color: #e95656;

$border-radius-value: 5px;

