<header class="header">
	{% include "./menu-mobile.njk" %}

  <div class="header__content l-container">
    <div class="header__hamburger">
      <i class="fa fa-bars js-menu-open"></i>
    </div>

    <div class="header__logo">
      <a href="/">
        <img src="/img/logo.svg" />
      </a>
    </div>

    <nav class="navbar">
      <ul>
        <li class="navbar__item">
          <a href="/">Produtos</a>
        </li>
        <li class="navbar__item">
          <a href="/shooping-cart">Carrinho</a>
        </li>
      </ul>
    </nav>

    <div class="header__cart">
      <a href="/shooping-cart" class="header__basket">
        <i class="fa fa-shopping-basket"></i>
        <span class="js-cart-quantity">0</span>
      </a>
    </div>
  </div>
</header>
