<div class="menu-mobile js-menu-mobile">
	<header class="menu-mobile__header">
		<h2 class="menu-mobile__title">Mega Rancho</h2>

		<div class="menu-mobile__button-close">
			<i class="fa fa-times-circle js-menu-close"></i>
		</div>
	</header>

	<nav class="menu-mobile__navbar">
		<ul>
			<li class="menu-mobile__menu-item">
				<a href="/">Produtos</a>
			</li>
			<li class="menu-mobile__menu-item">
				<a href="/shooping-cart">Carrinho</a>
			</li>
		</ul>
	</nav>

	<div class="menu-mobile__contact">
		<span><i class="fa fa-envelope"></i> example@email.com</span>
		<span>Frete grátis nas compras acima de R$50</span>
	</div>
</div>
