<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
		<link rel="shortcut icon" href="/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/admin-products.bundle.css" type="text/css">
		<title>Admin - Produtos</title>
	</head>
	<body>
		<main class="l-dashboard">
			<aside class="c-admin-sidebar">
				<div class="c-tab-group">
					<h3 class="c-tab-group__title">Gestão</h3>

					<a class="c-tab-group__option is-active" href="/admin/products">
						<i class="fa fa-tags c-tab-group__icon" aria-hidden="true"></i>
						<span class="c-tab-group__page">Produtos</span>
					</a>

					<a class="c-tab-group__option" href="/admin/orders">
						<i class="fa fa-shopping-cart c-tab-group__icon" aria-hidden="true"></i>
						<span class="c-tab-group__page">Pedidos</span>
					</a>

					<a class="c-tab-group__option" href="/admin/temp">
						<i class="fa fa-motorcycle c-tab-group__icon" aria-hidden="true"></i>
						<span class="c-tab-group__page">Entregadores</span>
					</a>
				</div>

				<a class="c-tab-group__option" href="/admin/logout">
					<i class="fa fa-sign-out c-tab-group__icon" aria-hidden="true"></i>
					<span class="c-tab-group__page">Sair</span>
				</a>
			</aside>

			{# Componente de alerta #}
			{# <span
				class="c-alert is-warning
				{% if productsEmpty %}is-visible{% endif %}"
			>
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				&nbsp;Desculpe não há produtos disponíveis
			</span> #}

			{# Deleta produto
			<form
				method="POST"
				action="/products/{{product.id}}?_method=DELETE"
				class="c-product-list__button"
			>
				<button type="submit" class="c-product-list__button is-delete">Excluir</button>
			</form> #}

			<article class="c-admin-content">
				<div class="c-content-list">
					<header class="c-content-list__header">
						<h2 class="c-content-list__title">
							Produtos<span class="c-content-list__badge">120</span>
						</h2>

						<div class="c-content-list__options">
							<form action="" class="c-search-form">
								<input
									type="text"
									name="search"
									placeholder="Pesquisar"
									class="c-search-form__input"
								>
								<button class="c-search-form__button" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>

							<a href="/new-product" class="c-content-list__add-button">
								<i class="fa fa-plus" aria-hidden="true"></i>
								&nbsp;&nbsp;Adicionar novo
							</a>
						</div>
					</header>

					<section class="c-content-list__list">
						<table class="c-content-table">
							<tr>
								<th></th>
								<th class="c-content-table__header">Título</th>
								<th class="c-content-table__header">Categoria</th>
								<th class="c-content-table__header">Disponibilidade</th>
								<th class="c-content-table__header">Preço</th>
								<th></th>
							</tr>
							{% for product in products %}
								<tr class="c-content-table__line">
									<td class="c-content-table__block-image">
										<img class="c-content-table__image" src="{{product.imageUrl}}" >
									</td>
									<td>{{product.name}}</td>
									<td>
										Alimento
									</td>
									<td>
										Disponível
									</td>
									<td>{{product.price}}</td>
									<td class="c-item-options">
										<a href="/admin/products/{{product.id}}/edit" class="c-item-options__icon is-blue">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										</a>
										<a href="" class="c-item-options__icon is-red">
											<i class="fa fa-trash-o" aria-hidden="true"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</section>
				</div>
			</article>
		</main>
    <script src="/js/admin-products.bundle.js"></script>
	</body>
</html>
