{% extends "base.njk" %}

{% block main %}
	<!-- Shoping Cart Section Begin -->
	<section class="shoping-cart">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="products__cart">
						<h4 class="text-center">Seu carrinho de compras</h4>
						<!-- Conteúdo gerado pelo js -->						
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="shoping__checkout">
						<h5 class="text-center">Resumo</h5>
						<div>
							<span>Total</span>
							<div class="total__price__card">
								<span>R$ <span id="checkout_total">0</span></span>
							</div>
						</div>
						<a href="/checkout" class="primary-btn">
							<button class="button__black">INSERIR ENDEREÇO</button>
						</a>
						<a href="/" class="primary-btn">
							<button class="button__black">CONTINUAR COMPRANDO</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shoping Cart Section End -->
{% endblock %}

{% block script %}
	<script src="/js/cart.js"></script>
{% endblock %}