<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="/styles/index.css" type="text/css">
		<title>Mega Rancho</title>
	</head>
	<body>
		<main>
			{% include "components/header.njk" %}

			<section class="container products">
				<h2 class="products__title">Produtos</h2>

				<div class="products__list">
					<div class="product-card">
						<input type="hidden" name="product-id" value="{{product._id}}">
						<div class="product-card__image">
							<img src="http://placekitten.com/700/700">
						</div>
						
						<span class="product-card__name">Arroz</span>

						<span class="product-card__price">R$ 2.50</span>
						
						<button class="product-card__button">Adicionar ao carrinho</button>
					</div>

					<div class="product-card">
						<input type="hidden" name="product-id" value="{{product._id}}">
						<div class="product-card__image">
							<img src="http://placekitten.com/700/700">
						</div>
						
						<span class="product-card__name">Arroz</span>

						<span class="product-card__price">R$ 2.50</span>
						
						<button class="product-card__button">Adicionar ao carrinho</button>
					</div>

					<div class="product-card">
						<input type="hidden" name="product-id" value="{{product._id}}">
						<div class="product-card__image">
							<img src="http://placekitten.com/700/700">
						</div>
						
						<span class="product-card__name">Arroz</span>

						<span class="product-card__price">R$ 2.50</span>
						
						<button class="product-card__button">Adicionar ao carrinho</button>
					</div>

					<div class="product-card">
						<input type="hidden" name="product-id" value="{{product._id}}">
						<div class="product-card__image">
							<img src="http://placekitten.com/700/700">
						</div>
						
						<span class="product-card__name">Arroz</span>

						<span class="product-card__price">R$ 2.50</span>
						
						<button class="product-card__button">Adicionar ao carrinho</button>
					</div>
					
				</div>
			</section>

			{% include "components/footer.njk" %}
		</main>
		{#
			<div class="grid__products" id="list-products">
					<!-- único produto -->
					{% for product in products %}					
						
					{% endfor %}
				</div>
				{% if totalPages > 1 %}
					<div class="container buttons">
						<a href="/cart">
							<button>Ver carrinho</button>
						</a>
						<button id="btn-more" onclick="moreProducts()" class="more__products" name="2">Mais produtos</button>
					</div>
				{% else %}
					<div class="container buttons">
						<a href="/cart">
							<button>Ver carrinho</button>
						</a>
					</div>
				{% endif %}
			</div>
		</section>
	</main>
	{% include "components/footer.njk" %}
	<script src="/js/loader.js"></script>
	<script src="/js/products.js"></script> #}
	</body>
</html>