{% extends "base.njk" %}

{% block main %}
	<!-- Product Section Begin -->
	<section class="product">
		<span id="total-pages" style="display: none;">{{totalPages}}</span>
		<div class="container">
			<div class="section-title product__title">
				<h3>Produtos</h3>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="row" id="list-products">
						<!-- único produto -->
						{% for product in products %}
							<div class="col-lg-4 col-md-6 col-sm-6 col-6">
								<div class="product__item">
									<span class="id__product" style="display: none;">{{product._id}}</span>
									<div class="product__item__pic">
										<img src="/uploads/{{product.image}}">
									</div>
									<div class="product__item__text">
										<h6>
											<a href="#">{{product.name}}</a>
										</h6>
										<h5>R$ <span>{{(product.price).toFixed(2)}}</span></h5>
									</div>
									<div class="product__quantity">
										<button class="any__less action-btn">-</button>
										<span class="quantity__value">1</span>
										<button class="more action-btn">+</button>
									</div>
									<button class="button__black" id="add__product__to__cart">ADICIONAR</button>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{% if totalPages > 1 %}
					<div class="container buttons">
						<a href="/cart">
							<button>Ver carrinho</button>
						</a>
						<button id="btn-more" class="more__products" name="2">Mais produtos</button>
					</div>
				{% else %}
					<div class="container buttons">
						<a href="/cart">
							<button>Ver carrinho</button>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
	<!-- Product Section End -->
{% endblock %}

{# {% block script %}
	<script src="/js/products.js"></script>
{% endblock %} #}