<footer class="footer">
  <div class="footer__content container">
    <div>
      <a class="footer__logo" href="/">
        <img src="img/logo.svg">
      </a>

      <h3 class="footer__text">MONTE SUA LISTA DE PRODUTOS E RECEBA EM CASA!!</h3>
      <h3 class="footer__text">Produtos disponíveis apenas para o município de (nome).</h3>
    </div>

    <div class="footer__contact footer__text">
      <ul>
        <li class="footer__text is-bold">Contato</li>
        <li>Whatsapp: (92) 9 99292-9292</li>
        <li>Av. Colombo, 721, Cidade, UF, 69114-000</li>
        <li>Email: emailexample@example.com</li>
      </ul>
    </div>
  </div>
</footer>
