.l-container {
  max-width: 980px;
  margin: 0 auto;
}

.l-min-height {
	min-height: 450px;
}

.l-total-width {
	width: 100%;
}

.l-text-center {
	text-align: center;
}

.l-centralized {
	display: flex;
	align-items: center;
	justify-content: center;
}

.l-dashboard {
	display: grid;
	grid-template-columns: minmax(150px, 20%) 1fr;
	height: 100vh;
}
