<footer class="footer">
  <div class="footer__about">
    <div class="footer__about__logo">
      <a href="/">
        <img src="img/logo.svg">
      </a>
    </div>
    <h4>MONTE SUA LISTA DE PRODUTOS E RECEBA EM CASA!!</h4>
    <h5>Produtos disponíveis apenas para o município de Silves.</h5>
    <ul>
      <li>Whatsapp: (92) 9 99370-1488</li>
      <li>Av. Coronel Garcia, 90 Silves, AM 69114-000</li>
      <li>Email: eiempreendimentos@hotmail.com</li>
    </ul>
  </div>
</footer>
