<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
  <div class="humberger__menu__logo">
    <a href="/">
      <img src="img/logo.svg">
    </a>
  </div>
  <nav class="humberger__menu__nav">
    <ul>
      <li>
        <a href="/">Página inicial</a>
      </li>
      <li>
        <a href="/cart">Seu carrinho</a>
      </li>
    </ul>
  </nav>
  <div class="humberger__menu__contact">
    <ul>
      <li><i class="fa fa-envelope"></i> eiempreendimentos@hotmail.com</li>
      <li>Frete grátis nas compras acima de R$50, válido apenas para silves.</li>
    </ul>
  </div>
</div>