<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="/">
            <img src="img/logo.svg" />
          </a>
          <div class="humberger__open">
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <nav class="header__menu">
          <ul>
            <li><a href="/">Página inicial</a></li>
            <li class="active"><a href="/cart">Produtos</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-2">
        <div class="header__cart">
          <ul>
            <li>
              <a href="/cart">
                <i class="fa fa-shopping-bag"></i><span id="cart-quantity">0</span>
              </a>
            </li>
          </ul>
          <div class="header__cart__price">
            <span>Total R$ </span><span id="cart-total-price">0</span>
          </div>
        </div>
      </div>
    </div>			
  </div>
</header>