.l-container {
  max-width: 980px;
  margin: 0 auto;
}

.l-min-height {
	min-height: 450px;
}

.l-text-center {
	text-align: center;
}

.l-centralized {
	display: flex;
	align-items: center;
	justify-content: center;
}
