<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
		<link rel="shortcut icon" href="/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/admin-dashboard.bundle.css" type="text/css">
		<title>Dashboard</title>
	</head>
	<body>
		<header class="c-appbar">
			<div class="l-container l-centralized c-appbar__content">
				<div class="c-appbar__void"></div>

				<h3 class="c-appbar__title l-text-center">Seus produtos</h3>

				<a class="c-appbar__button" href="/new-product">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>
			</div>
		</header>

		<main class="l-container c-product-list">
			<span
				class="c-alert is-warning
				{% if productsEmpty %}is-visible{% endif %}"
			>
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
				&nbsp;Desculpe não há produtos disponíveis
			</span>

			{% for product in products %}
				<div class="c-product-list__item">
					<img src="{{product.imageUrl}}" alt="{{product.name}}" class="c-product-list__image">

					<div class="c-product-list__informations">
						<h2 class="c-product-list__title">{{product.name}}</h2>
						<h4 class="c-product-list__price">{{product.price}}</h4>

						<div class="c-product-list__actions">
							<a href="/edit-product/{{product.id}}" class="c-product-list__button l-centralized">Editar</a>

							<form
								method="POST"
								action="/products/{{product.id}}?_method=DELETE"
								class="c-product-list__button"
							>
								<button type="submit" class="c-product-list__button is-delete">Excluir</button>
							</form>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="c-pagination {% if productsEmpty %}is-hidden{% endif %}">
				<ul class="c-pagination__list l-centralized">
					<li>
						{% if currentPage > 1 %}
							<a class="c-pagination__controls" href="/admin-dashboard?page={{currentPage - 1}}"><i class="fa fa-arrow-left"></i></a>
						{% else %}
							<a class="c-pagination__controls is-disable"><i class="fa fa-arrow-left"></i></a>
						{% endif %}
					</li>

					{% for page in pagination %}
						{% if page === currentPage %}
							<li><a class="c-pagination__item is-current" href="/admin-dashboard?page={{page}}">{{page}}</a></li>
						{%else%}
							<li><a class="c-pagination__item" href="/admin-dashboard?page={{page}}">{{page}}</a></li>
						{% endif %}
					{% endfor %}

					<li>
						{% if currentPage < totalPages %}
							<a class="c-pagination__controls" href="/admin-dashboard?page={{currentPage + 1}}"><i class="fa fa-arrow-right"></i></a>
						{% else %}
							<a class="c-pagination__controls is-disable"><i class="fa fa-arrow-right"></i></a>
						{% endif %}
					</li>
				</ul>
			</div>
		</main>

    <script src="/js/admin-dashboard.bundle.js"></script>
	</body>
</html>
