<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="theme-color" content="#fff">
		<meta name="apple-mobile-web-app-status-bar-style" content="#fff">
		<link rel="shortcut icon" href="/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="/styles/admin-dashboard.css" type="text/css">
		<title>Dashboard</title>
	</head>
	<body>
		<header class="c-appbar">
			<div class="l-container l-centralized c-appbar__content">
				<div class="c-appbar__void"></div>

				<h3 class="c-appbar__title l-text-center">Seus produtos</h3>

				<a class="c-appbar__button" href="/new-product">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>
			</div>
		</header>

    <script src="/scripts/admin-dashboard.js"></script>
	</body>
</html>
