@import './c-alert';

.shooping-cart {
	min-height: 450px;

	&.is-hidden {
		display: none;
	}

	&__product-list {
		margin: 1rem 1.5rem 0;
	}

	&__sumary {
		background-color: $white-color;
		margin: 1rem 1.5rem;
		padding: 1rem;
		border-radius: 5px;
	}

	&__line {
		display: flex;
		justify-content: space-between;
		margin: .5rem 0;
		font-weight: 600;
		font-size: 1.4rem;
		border-bottom: 1.5px dashed rgba($color: #000000, $alpha: 0.1);
	}

	&__money {
		width: 90px;
		font-weight: 600;
	}

	&__continue {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		border-radius: 2px;
		height: 3.5rem;
		text-align: center;
		color: $white-color;
		background-color: $black-color;
	}
}

.cart-product-card {
	background-color: $white-color;
	position: relative;
	padding-bottom: .5rem;
	margin-bottom: 1rem;
	border-radius: 5px;

	div:first-child {
		border-bottom: 1.5px solid rgba($color: #000000, $alpha: 0.1);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__delete {
		position: absolute;
		cursor: pointer;
		font-size: 1.8rem;
		right: 1rem;
		top: 1rem;
	}

	&__image {
		max-width: 80px;
		margin: 1rem;
	}

	&__name {
		flex: 1;
		margin: 1rem;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2rem;
	}

	table {
		width: 100%;
		text-align: center;

		tr {
			display: flex;
		}

		td {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 1.6rem;
	}

	&__value {
		font-weight: 600;
		font-size: 1.4rem;
	}
}

.quantity-options {
	&__button {
		font-size: 2rem;
		font-weight: bold;
		color: $black-color;
		user-select: none;
		cursor: pointer;
	}

	&__value {
		font-size: 1.5rem;
		font-weight: 600;
		margin: 0 1.5rem;
	}
}


@media only screen and (min-width: 620px) {
	.shooping-cart {
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: flex;

		&__product-list {
			flex: 3;
			padding-right: .5rem;
			margin-right: .5rem;
			max-height: 450px;
			overflow-y: scroll;
		}

		&__sumary {
			flex: 2;
			max-width: 300px;
			margin-left: .5rem;
			align-self: flex-start;
		}

	}
}

@media only screen and (min-width: 800px) {
	.cart-product-card {
		display: flex;

		&__delete {
			top: .5rem;
		}

		div:first-child {
			border: none;
			flex: 2;
		}

		div:last-child {
			flex: 2;
			display: flex;
			align-items: center;
		}
	}
}

@media only screen and (min-width: 800px) {
	.cart-product-card {
		div:last-child {
			flex: 3;
		}
	}
}
