.footer {
  background: $white-color;
  padding: 20px 0;
  text-align: center;

  &__logo {
    & > img {
      height: 40px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 1.4rem;

    &.is-bold {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }

  &__contact {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 650px) {
  .footer {
    padding: 3rem;

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    div {
      flex: 1;
    }
  }
}
