.menu-mobile {
	background-color: $blue-dark-light-color;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;

	transition: opacity .4s ease-in-out;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	pointer-events: none;

	&.is-visible {
		opacity: 1;
		pointer-events: all;
	}

	&__header {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		background-color: $blue-dark-color;
		padding: 1rem;
	}

	&__title {
		flex: 1;
		text-align: left;
		color: $white-color;
		font-weight: 300;
		font-size: 2.5rem;
	}

	&__button-close {
		width: 30px;
		height: 30px;
		font-size: 3rem;

		color: $white-color;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__navbar {
		width: 100%;
	}

	&__menu-item {
		border-bottom: 1.5px solid $para-color;
		width: 100%;
		text-align: center;
		transition: background-color .3s;

		& > a {
			color: $white-color;
			font-size: 1.8rem;
			padding: 1rem 0;

			text-transform: uppercase;
			display: block;
		}

		&:active {
			background-color:#3a4049;
		}
	}

	&__contact {
		margin-top: 5rem;
		font-size: 1.6rem;
		color: $white-color;

		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
