$margin-appbar: 1rem;

.appbar {
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
	background-color: $white-color;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 50px;
	}

	&__button-back {
		color: $black-color;
		font-size: 2rem;
		margin-left: $margin-appbar;
	}

	&__title {
		font-weight: 600;
		font-size: 1.8rem;
		flex: 1;
		text-align: center;
		margin-right: $margin-appbar;
	}
}

.image-field {
	border: 1px solid rgba($color: #000000, $alpha: 0.3);
	height: 120px;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .5rem;

	input {
		display: none
	}

	&__preview {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		flex: 1;

		img {
			max-width: 200px;
			max-height: 115px;
		}
	}

	&__choose {
		background-color: $primary-color;
		color: #fff;
		height: 35px;
		display: flex;
		align-items: center;
		border-radius: 2px;
		font-size: 1.5rem;
		margin: 1rem .5rem;
		padding: 0 .5rem;

		&:active {
			opacity: 0.7;
		}
	}
}

.product-form{
	background-color: $white-color;
	border: 1px solid rgba($color: #000000, $alpha: 0.1);
	margin: 2rem auto 0;
	padding: 1rem;
	max-width: 500px;
  width: 95%;
  display: flex;
	flex-direction: column;

	&__fieldbox {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
	}

	&__fieldname {
		font-weight: 600;
		font-size: 18px;
	}

	&__field {
		height: 38px;
		border: 1px solid rgba($color: #000000, $alpha: 0.3);
		font-size: 17px;
		border-radius: 2px;
		padding-left: 10px;
	}

  &__button {
		width: 100%;
		border: none;
		border-radius: 2px;
		background-color: $black-color;
		color: $white-color;
		margin-bottom: 1rem;
    height: 40px;
    font-weight: 500;
    font-size: 1.8rem;
  }
}
